
body {
	padding-top: 150px;

  background: -webkit-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #517fa4 10%, #243949 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #517fa4 10%, #243949 90%); /* W3C */
}

#codes {
	color: #ecf0f1;
  font-size: 30px;
}
.name {
	color: #bdc3c7;
  text-align: right;
}
.countdown {
	color: #d35400;
  font-size: 60px;
  height: 40px;
}
